<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Blog
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="/css/styles.css"/>
		{% endblock %}
	</head>
	<body>
		<div id="sidebar">
			{% block sidebar %}
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="/">My Blog</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="{{ path('post-index') }}">Blog
									<span class="sr-only">(current)</span>
								</a>
							</li>
							{% if app.user %}
								<li class="nav-item">
									<a class="nav-link" href="{{ path('post-create') }}">New Post</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('category-index') }}">Categories</a>
								</li>
							{% else %}
								<li>
									<a class="nav-link" href="{{ path('app_login') }}">Login</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{{ path('register') }}" tabindex="-1">Register</a>
								</li>
							{% endif %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('contact') }}">Contact</a>
							</li>
						</ul>
						{% if app.user %}
							<div class="float-right nav-item">
								<a class="nav-link text-secondary" href="{{ path('app_logout') }}">Logout</a>
							<div>
						{% endif %}
							</div>
						</nav>
					{% endblock %}
				</div>
				{% block content %}{% endblock %}
				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{message}}
					</div>
				{% endfor %}
				<footer class="navbar navbar-expand bg-dark mt-5 fixed-bottom pt-0">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-white text-center mx-auto">
								Copyright &copy;2020 - Camilo Parra
							</div>
						</div>
					</div>
				</footer>
				{% block javascripts %}
					<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
					<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
					<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
					<script src="/js/scripts.js"/>
				{% endblock %}
			</body>
		</html>
	</body>
</html>
